<h1>Profile for your Cat</h1>
<img src="https://http.cat/200" alt="Cat">
<p>Name: {{name}}</p>
<p>Age: {{age}}</p>
<p>mood: {{mood}}</p>
<p>hungry: {{hungry}}</p>
<p>description: {{description}}</p>

